@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #a3cf8f;
}

h1 {
    text-align: center;
    color: #3e5733;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: none;
    user-select: none;
}

h1:hover {
    text-shadow: #1a2b11 0 0 15px;
}

hr {
    border-color: lightgreen;
    width: 80%;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 7.5vh;
    gap: 3vw;
}

.tighnari {
    width: 15vw;
    height: auto;
    border-radius: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.about-text {
    width: 50%;
}

p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #3e5733;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.go-back {
    display: flex;
    height: 100%;
    margin-top: 10vh;
}

.go-back a {
    position: relative;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* Remove o underline padrão */
    color: #3e5733;
    font-weight: bold;
    user-select: none;
}

.link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.3vh;
    background: #1a2b11;
    left: 0;
    bottom: 0;
    transform-origin: left;
    transition: width 0.2s ease-in-out, left 0.3s ease-in-out;
}

.link:hover::after {
    width: 100%;
    left: 0;
    color: #1a2b11;
}

.link:hover {
    color: #1a2b11;
}